@model Bitak.Web.ViewModels.MainBoard.MainBoardViewModel

@using Bitak.Data.Models.PcComponents.Enums;
@{
    this.ViewData["Title"] = "AddMainBoard";
}

<h1>@this.ViewData["Title"]</h1>

<div>
    <div class="align-content-lg-center">
        <form asp-controller="MainBoard" asp-action="Add" method="post">
            <ul style="list-style: none;" class="list-group">
                <li>
                    <div class="col-md-10">
                        <label asp-for="Name" class="col-md-1 control-label">Name:</label>
                        <input type="text" name="Name" asp-for="Name" />
                    </div>
                </li>
                <li>
                    <div class="col-md-10">
                        <label asp-for="Brand" class="col-md-1 control-label">Brand:</label>
                        <input type="text" name="Brand" asp-for="Brand" />
                    </div>
                </li>
                <li>
                    <div class="col-md-10">
                        <label asp-for="Price" class="col-md-1 control-label">Price:</label>
                        <input type="number" name="Price" asp-for="Price" />
                    </div>
                </li>
                <li>
                    <div class="col-md-10">
                        <label asp-for="Socket" class="col-md-1 control-label">Socket:</label>
                        <select asp-for="Socket" asp-items="Html.GetEnumSelectList<ProcessorSocket>()">
                            <option selected="selected" value="">Please select</option>
                        </select>
                    </div>
                </li>
                <li>
                    <div class="col-md-10">
                        <label asp-for="Chipset" class="col-md-1 control-label">Chipset:</label>
                        <select asp-for="Socket" asp-items="Html.GetEnumSelectList<MbChipset>()">
                            <option selected="selected" value="">Please select</option>
                        </select>
                    </div>
                </li>
                <li>
                    <div class="col-md-10">
                        <label asp-for="FormFactor" class="col-md-1 control-label">Form factor:</label>
                        <select asp-for="FormFactor" asp-items="Html.GetEnumSelectList<FormFactor>()">
                            <option selected="selected" value="">Please select</option>
                        </select>
                    </div>
                </li>
                <li>
                    <div class="col-md-10">
                        <label asp-for="MemoryType" class="col-md-1 control-label">Memory type:</label>
                        <select asp-for="MemoryType" asp-items="Html.GetEnumSelectList<MemoryType>()">
                            <option selected="selected" value="">Please select</option>
                        </select>
                    </div>
                </li>
                <li>
                    <div class="col-md-10">
                        <label asp-for="MemorySlots" class="col-md-1 control-label">Memory slots:</label>
                        <input type="number" name="MemorySlots" asp-for="MemorySlots" />
                    </div>
                </li>
                <li>
                    <div class="col-md-10">
                        <label asp-for="Ports" class="col-md-1 control-label">Ports:</label>
                        <input type="text" name="Ports" asp-for="Ports" />
                    </div>
                </li>
                <li>
                    <div class="col-md-10">
                        <label asp-for="Interfaces" class="col-md-1 control-label">Interfaces:</label>
                        <input type="text" name="Interfaces" asp-for="Interfaces" />
                    </div>
                </li>
                <li>
                    <div class="col-md-10">
                        <label asp-for="Waranty" class="col-md-1 control-label">Waranty:</label>
                        <input type="number" name="Waranty" asp-for="Waranty" />
                    </div>
                </li>
            </ul>
            <div>
                <input type="submit" value="Save" />
            </div>
        </form>
    </div>
</div>

