@using Bitak.Web.ViewModels.MainBoard

@model MainBoardViewModel

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div>
                <ul>
                    <li id="ModelName">
                        <span for="ModelName">
                            Model Name:
                        </span>
                        @Model.Name;
                    </li>
                    <li id="ModelBrand">
                        <span for="ModelBrand">
                            Brand:
                        </span>
                        @Model.Brand
                    </li>
                    <li id="ModelChipset">
                        <span for="ModelChipset">
                            Chipset:
                        </span>
                        @Model.Chipset
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>